{% extends "base.html.twig" %}
{% block title %}Movie detail{% endblock %}
{% block container %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title | upper}}</h5>
                <p class="card-text">{{ movie.realisator.firstName  }}  {{ movie.realisator.lastname  }}</p>
                <p class="card-text">{{ movie.releaseDate|date('Y-m-d')}}</p>
                <p class="card-text">{{ movie.description}}</p>
            </div>
        </div>
    <br>
    <h2>Actors</h2>
    {% for actor in movie.casting %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ actor.lastname | upper}}</h5>
                <p class="card-text">{{ actor.firstName  }}  {{ actor.lastname  }}</p>
                <p class="card-text">{{ actor.biography}}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}